/* public/css/style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, footer {
    padding: 10px 20px;
    background-color: #eee;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

ul#recordings-list {
    list-style: none;
    padding: 0;
}

ul#recordings-list li {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#recordings-list li span {
    flex-grow: 1;
    margin-right: 10px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 22px); /* Учитываем padding и border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-right: 5px;
    font-size: 0.9em;
}

.btn-add {
    background-color: #28a745;
    margin-bottom: 20px;
}

.btn-edit {
    background-color: #ffc107;
    color: #333;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-cancel {
    background-color: #6c757d;
}

.btn:hover {
    opacity: 0.9;
}